@model AssistTrainSystem.Controllers.StaminaAbilitiesController.StaminaList

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/LeftMenu.cshtml";
}
<script src="~/js/echarts.min.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

<div class="row">
    <div class="col-md-5">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">请输入测试参数</h3>
            </div>
            <div class="panel-body">
                <form asp-action="Create" id="formData">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" id="ID" name="ID" />
                    <input type="hidden" id="user_id" name="user_id" value="@User.Identity.Name">
                    <input type="hidden" id="type" name="type"/>
                    <div class="form-group">
                        <label id="fourrun_time2" name="fourrun_time2" class="control-label">400米跑</label>
                        <input id="fourrun_time" name="fourrun_time" class="form-control" />

                    </div>

                    <div class="form-group">
                        <label id="threerun_time2" name="threerun_time2" class="control-label">3000米跑</label>
                        <input id="threerun_time" name="threerun_time" class="form-control" />

                    </div>

                    <div class="form-group">
                        <label id="age2" name="age2" class="control-label">年龄</label>
                        <input id="age" name="age" class="form-control" />

                    </div>

                    <div class="form-group" style="display:inline">
                        <input value="保存" onclick="fun()" class="btn btn-default" style="width:149px" />
                        <input value="测试一下" onclick="fun2()" class="btn btn-default" style="width:149px" />
                    </div>


                    <script type="text/javascript">
                        function fun() {

                            $("#type").val("yes");
                            var data = $("#formData").serialize();

                            $.post("/StaminaAbilities/Create", data, function (data) {

                                myChart.setOption({

                                    series: [
                                        {
                                            name: '微博情感倾向对比',
                                            type: 'bar',
                                            barWidth: '60%',
                                            data: [@Model.laststamina.fourrun_time, data.fournum]
                                        }
                                    ]

                                });

                                 myChart2.setOption({

                                    series: [
                                        {
                                            name: '微博情感倾向对比',
                                            type: 'bar',
                                            barWidth: '60%',
                                            data: [@Model.laststamina.threerun_time, data.threenum]
                                        }
                                    ]

                                });

                            });

                        }


                        function fun2()
                        {

                            $("#type").val("no");
                            var data = $("#formData").serialize();

                            $.post("/StaminaAbilities/Create", data, function (data) {

                                  myChart.setOption({

                                    series: [
                                        {
                                            name: '微博情感倾向对比',
                                            type: 'bar',
                                            barWidth: '60%',
                                            data: [@Model.laststamina.fourrun_time, data.fournum]
                                        }
                                    ]

                                });

                                 myChart2.setOption({

                                    series: [
                                        {
                                            name: '微博情感倾向对比',
                                            type: 'bar',
                                            barWidth: '60%',
                                            data: [@Model.laststamina.threerun_time, data.threenum]
                                        }
                                    ]

                                });

                            });

                        }

                    </script>

                    <div class="form-group">
                        <div class="row" style="width:460px">
                            <div id="main3" class="col-md-5" style="width:230px;height:351px;"></div>
                            <div id="main" class="col-md-5" style="width:230px;height:351px;"></div>

                            <script type="text/javascript">
                                var myChart = echarts.init(document.getElementById('main'));


                                option = {
                                    color: ['#3398DB'],
                                    tooltip: {
                                        trigger: 'axis',
                                        axisPointer: {            // 坐标轴指示器，坐标轴触发有效
                                            type: 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
                                        }
                                    },
                                    grid: {
                                        left: '0%',
                                        right: '0%',
                                        bottom: '10%',
                                        containLabel: true
                                    },
                                    xAxis: [
                                        {
                                            type: 'category',
                                            data: ['上次测试', '当前测试'],
                                            axisTick: {
                                                alignWithLabel: true
                                            }
                                        }
                                    ],
                                    yAxis: [
                                        {
                                            type: 'value'
                                        }
                                    ],
                                    series: [
                                        {
                                            name: '微博情感倾向对比',
                                            type: 'bar',
                                            barWidth: '60%',
                                            data: [@Model.laststamina.fourrun_time]
                                        }
                                    ]
                                };


                                myChart.setOption(option);



                                var myChart2 = echarts.init(document.getElementById('main3'));


                              

                                option = {
                                    color: ['#3398DB'],
                                    tooltip: {
                                        trigger: 'axis',
                                        axisPointer: {            // 坐标轴指示器，坐标轴触发有效
                                            type: 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
                                        }
                                    },
                                    grid: {
                                        left: '0%',
                                        right: '0%',
                                        bottom: '10%',
                                        containLabel: true
                                    },
                                    xAxis: [
                                        {
                                            type: 'category',
                                            data: ['上次测试', '当前测试'],
                                            axisTick: {
                                                alignWithLabel: true
                                            }
                                        }
                                    ],
                                    yAxis: [
                                        {
                                            type: 'value'
                                        }
                                    ],
                                    series: [
                                        {
                                            name: '微博情感倾向对比',
                                            type: 'bar',
                                            barWidth: '60%',
                                            data: [@Model.laststamina.threerun_time]
                                        }
                                    ]
                                };
                                myChart2.setOption(option);


                            </script>
                        </div>
                    </div>
                    <script type="text/javascript">

                    </script>
                    <div>
                        <p>系统建议：</p>
                        <div style="height:116px">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-10">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">测试结果</h3>
                    </div>
                    <div class="panel-body" style="display:inline">

                        <div class="row">

                            <div id="main2" class="col-md-5" style="width:480px;height:686px;"></div>

                        </div>
                        <script type="text/javascript">
                                var myChart3 = echarts.init(document.getElementById('main2'));

                                        var fourtime = new Array();
                                 var threetime = new Array();
                                 var time = new Array();
                             @foreach(var x in Model.Fourtime)
                             {
                                    <text>
                                        fourtime.push('@x');
                                    </text>

                             }

                            @foreach(var x in Model.Threetime)
                             {
                                    <text>
                                        threetime.push('@x');
                                    </text>

                             }

                           @foreach(var x in Model.time)
                            {
                                        <text>
                                            time.push('@x');
                                    </text>

                           }

                                            var timeData = time;
                                 

                                timeData = timeData.map(function (str) {
                                    return str.replace('2009/', '');
                                });

                                option = {
                                    title: {
                                        text: '耐力历史变化一览',
                                        x: 'left'
                                    },
                                    tooltip: {
                                        trigger: 'axis',
                                        formatter: function (params) {
                                            return params[0].name + '<br/>'
                                                + params[0].seriesName + ' : ' + params[0].value + ' (m^3/s)<br/>';
                                        },
                                        axisPointer: {
                                            animation: false
                                        }
                                    },
                                    legend: {
                                        data: ['400米跑', '3000米跑'],
                                        x: 'right'
                                    },
                                    dataZoom: [
                                        {
                                            show: true,
                                            realtime: true,
                                            start: 30,
                                            end: 70,
                                            xAxisIndex: [0, 1]
                                        },
                                        {
                                            type: 'inside',
                                            realtime: true,
                                            start: 30,
                                            end: 70,
                                            xAxisIndex: [0, 1]
                                        }
                                    ],
                                    grid: [{
                                        left: 50,
                                        right: 50,
                                        height: '35%'
                                    }, {
                                        left: 50,
                                        right: 50,
                                        top: '55%',
                                        height: '35%'
                                    }],
                                    xAxis: [
                                        {
                                            type: 'category',
                                            boundaryGap: false,
                                            axisLine: { onZero: true },
                                            data: timeData
                                        },
                                        {
                                            gridIndex: 1,
                                            type: 'category',
                                            boundaryGap: false,
                                            axisLine: { onZero: true },
                                            data: timeData,
                                            position: 'top'
                                        }
                                    ],
                                    yAxis: [
                                        {
                                            name: '400米跑',
                                            type: 'value',
                                            max: 60
                                        },
                                        {
                                            gridIndex: 1,
                                            name: '3000米跑',
                                            type: 'value',
                                            max: 60,
                                            inverse: true
                                        }
                                    ],
                                    series: [
                                        {
                                            name: '400米跑',
                                            type: 'line',
                                            symbolSize: 8,
                                            hoverAnimation: false,
                                            data: fourtime
                                        },
                                        {
                                            name: '3000米跑',
                                            type: 'line',
                                            xAxisIndex: 1,
                                            yAxisIndex: 1,
                                            symbolSize: 8,
                                            hoverAnimation: false,
                                            data: threetime
                                        }
                                    ]
                                };

                                myChart3.setOption(option);
                        </script>

                    </div>
                </div>
            </div>


        </div>
    </div>



</div>