@model AssistTrainSystem.Controllers.BodyAbilitiesController.UserAbility
@{
    ViewData["Title"] = "Index";
}
<script src="~/js/echarts.min.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

<style>
    /* Custom Styles */
    ul.nav-tabs {
        width: 140px;
        margin-top: 20px;
        border-radius: 4px;
        border: 1px solid #ddd;
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067);
    }

        ul.nav-tabs li {
            margin: 0;
            border-top: 1px solid #ddd;
        }

            ul.nav-tabs li:first-child {
                border-top: none;
            }

            ul.nav-tabs li a {
                margin: 0;
                padding: 8px 16px;
                border-radius: 0;
            }

            ul.nav-tabs li.active a, ul.nav-tabs li.active a:hover {
                color: #fff;
                background: #0088cc;
                border: 1px solid #0088cc;
            }

            ul.nav-tabs li:first-child a {
                border-radius: 4px 4px 0 0;
            }

            ul.nav-tabs li:last-child a {
                border-radius: 0 0 4px 4px;
            }

        ul.nav-tabs.affix {
            top: 30px; /* Set the top position of pinned element */
        }
</style>
<script>

    $(document).ready(function () {
        $("#myNav").affix({
            offset: {
                top: 125
            }
        });
    });
</script>
<div class="container">
    <div class="jumbotron">
        <h1>人员自测模块</h1>
    </div>
    <div class="row">
        <div class="col-xs-3" id="myScrollspy">
            <ul class="nav nav-tabs nav-stacked" id="myNav">
                <li class="active"><a href="#section-1">人员信息测试</a></li>
                <li><a href="#section-2">基础体能训练</a></li>
                <li><a href="#section-3">实用技能训练</a></li>
            </ul>
        </div>
        <div class="col-xs-9">
            <h2 id="section-1">基本人员信息测试</h2>
            <div class="row">
                <div class="col-md-5">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">请输入测试参数</h3>
                        </div>
                        <div class="panel-body">
                            <form asp-action="Create">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <input type="hidden" id="ID" name="ID" />
                                <input type="hidden" id="user_id" name="user_id"  value="@Model.user.name">

                                <div class="form-group">
                                    <label  id="height" name="height" class="control-label"></label>
                                    <input  id="height" name="height" class="form-control" />
                                    <span asp-validation-for="bodyAbility[0].height" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label  id="weight" name="weight" class="control-label"></label>
                                    <input  id="weight" name="weight" class="form-control" />
                                    <span asp-validation-for="bodyAbility[0].weight" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label id="age" name="age" class="control-label"></label>
                                    <input id="age" name="age"  class="form-control" />
                                    <span asp-validation-for="bodyAbility[0].age" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label id="waist" name="waist" class="control-label"></label>
                                    <input id="waist" name="waist" class="form-control" />
                                    <span asp-validation-for="bodyAbility[0].waist" class="text-danger"></span>
                                </div>


                                <div class="form-group">
                                    <input type="submit" value="Save" class="btn btn-default" />
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="col-md-5">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">测试结果</h3>
                        </div>
                        <div class="panel-body" >
                            <div id="main" style="width: 600px;height:400px;"></div>
                            <script type="text/javascript">
                              
                                var myChart = echarts.init(document.getElementById('main'));
                                var listtime = new Array();
                                var listitem = new Array();
                                var series = new Array();
                                for (i = 0; i < 10; i++)
                                {
                                    series[i] = new Array();
                                    for (j = 0; j < 10; j++)
                                    {
                                        series[i][j] = new Array();

                                    }

                                }


                                @foreach(var x in Model.listtime)
                                {
                                    <text>
                                         listtime.push('@x');
                                    </text>

                                }


                                @foreach(var x in Model.listitem)
                                {
                                    <text>
                                         listitem.push('@x');
                                    </text>

                                }

                                 @for(var x=0;x<Model.series.Count;x++)
                                {
                                    @for(var y=0;y<Model.series[x].Count;y++)
                                    {
                                        @for(var z=0;z<Model.series[x][y].Count;z++)
                                        {
                                            <text>
                                                series[@x][@y][@z]='@Model.series[x][y][z]';
                                            </text>

                                        }

                                    }

                                }
                                              

                                    var itemStyle = {
                                        normal: {
                                        opacity: 0.8,
                                            shadowBlur: 10,
                                            shadowOffsetX: 0,
                                            shadowOffsetY: 0,
                                            shadowColor: 'rgba(0, 0, 0, 0.5)'
                                        }
                                };

                                    var sizeFunction = function (x) {
                                        var y = Math.sqrt(x / 5e8) + 0.1;
                                        return y * 80;
                                    };
                                    // Schema:
                                    var schema = [
                                        { name: 'Income', index: 0, text: '人均收入', unit: '美元' },
                                        { name: 'LifeExpectancy', index: 1, text: '人均寿命', unit: '岁' },
                                        { name: 'Population', index: 2, text: '总人口', unit: '' },
                                        { name: 'Country', index: 3, text: '国家', unit: '' }
                                    ];

                                    option = {
                                        baseOption: {
                                            timeline: {
                                                axisType: 'category',
                                                orient: 'vertical',
                                                autoPlay: true,
                                                inverse: true,
                                                playInterval: 1000,
                                                left: null,
                                                right: 0,
                                                top: 20,
                                                bottom: 20,
                                                width: 55,
                                                height: null,
                                                label: {
                                                    normal: {
                                                        textStyle: {
                                                            color: '#999'
                                                        }
                                                    },
                                                    emphasis: {
                                                        textStyle: {
                                                            color: '#fff'
                                                        }
                                                    }
                                                },
                                                symbol: 'none',
                                                lineStyle: {
                                                    color: '#555'
                                                },
                                                checkpointStyle: {
                                                    color: '#bbb',
                                                    borderColor: '#777',
                                                    borderWidth: 2
                                                },
                                                controlStyle: {
                                                    showNextBtn: false,
                                                    showPrevBtn: false,
                                                    normal: {
                                                        color: '#666',
                                                        borderColor: '#666'
                                                    },
                                                    emphasis: {
                                                        color: '#aaa',
                                                        borderColor: '#aaa'
                                                    }
                                                },
                                                data: []
                                            },
                                            backgroundColor: '#404a59',
                                            title: [{
                                                text: listtime[0],
                                                textAlign: 'center',
                                                left: '63%',
                                                top: '55%',
                                                textStyle: {
                                                    fontSize: 100,
                                                    color: 'rgba(255, 255, 255, 0.7)'
                                                }
                                            }, {
                                                text: '部队身体素质总揽',
                                                left: 'center',
                                                top: 10,
                                                textStyle: {
                                                    color: '#aaa',
                                                    fontWeight: 'normal',
                                                    fontSize: 20
                                                }
                                            }],
                                            tooltip: {
                                                padding: 5,
                                                backgroundColor: '#222',
                                                borderColor: '#777',
                                                borderWidth: 1,
                                                formatter: function (obj) {
                                                    var value = obj.value;
                                                    return schema[3].text + '：' + value[3] + '<br>'
                                                        + schema[1].text + '：' + value[1] + schema[1].unit + '<br>'
                                                        + schema[0].text + '：' + value[0] + schema[0].unit + '<br>'
                                                        + schema[2].text + '：' + value[2] + '<br>';
                                                }
                                            },
                                            grid: {
                                                top: 100,
                                                containLabel: true,
                                                left: 30,
                                                right: '110'
                                            },
                                            xAxis: {
                                                type: 'value',
                                                name: '体脂率%',
                                                max: 40,
                                                min: 5,
                                                splitNumber: 10,
                                              
                                                nameTextStyle: {
                                                    fontSize: 18
                                                },
                                                splitLine: {
                                                    show: false
                                                },
                                                axisLine: {
                                                    lineStyle: {
                                                        color: '#ccc'
                                                    }
                                                },
                                                axisLabel: {
                                                    formatter: '{value} %'
                                                }
                                            },
                                            yAxis: {
                                                type: 'value',
                                                name: 'BMI',
                                                max: 100,
                                                nameTextStyle: {
                                                    color: '#ccc',
                                                    fontSize: 18
                                                },
                                                axisLine: {
                                                    lineStyle: {
                                                        color: '#ccc'
                                                    }
                                                },
                                                splitLine: {
                                                    show: false
                                                },
                                                axisLabel: {
                                                    formatter: '{value} '
                                                }
                                            },
                                            visualMap: [
                                                {
                                                    show: false,
                                                    dimension: 3,
                                                    categories: listitem,
                                                    calculable: true,
                                                    precision: 0.1,
                                                    textGap: 30,
                                                    textStyle: {
                                                        color: '#ccc'
                                                    },
                                                    inRange: {
                                                        color: (function () {
                                                            var colors = ['#bcd3bb', '#e88f70', '#edc1a5', '#9dc5c8', '#e1e8c8', '#7b7c68', '#e5b5b5', '#f0b489', '#928ea8', '#bda29a'];
                                                            return colors.concat(colors);
                                                        })()
                                                    }
                                                }
                                            ],
                                            series: [
                                                {
                                                    type: 'scatter',
                                                    itemStyle: itemStyle,
                                                    data: series[0],
                                                    symbolSize: function (val) {
                                                        return sizeFunction(val[2]);
                                                    }
                                                }
                                            ],
                                            animationDurationUpdate: 1000,
                                            animationEasingUpdate: 'quinticInOut'
                                        },
                                        options: []
                                    };

                                    for (var n = 0; n <listtime.length; n++) {
                                        option.baseOption.timeline.data.push(listtime[n]);
                                        option.options.push({
                                            title: {
                                                show: true,
                                                'text': listtime[n] + ''
                                            },
                                            series: {
                                                name: listtime[n],
                                                type: 'scatter',
                                                itemStyle: itemStyle,
                                                data: series[n],
                                                symbolSize: function (val) {
                                                    return sizeFunction(val[2]);
                                                }
                                            }
                                        });
                                    }

                                    myChart.setOption(option);


                            </script>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-5">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">您的上次测试结果</h3>
                        </div>
                        <div class="panel-body">
                            这是一个基本的面板
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">系统建议</h3>
                        </div>
                        <div class="panel-body">
                            这是一个基本的面板
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <h2 id="section-2">基础体能训练</h2>
            <p>Nullam hendrerit justo non leo aliquet imperdiet. Etiam in sagittis lectus. Suspendisse ultrices placerat accumsan. Mauris quis dapibus orci. In dapibus velit blandit pharetra tincidunt. Quisque non sapien nec lacus condimentum facilisis ut iaculis enim. Sed viverra interdum bibendum. Donec ac sollicitudin dolor. Sed fringilla vitae lacus at rutrum. Phasellus congue vestibulum ligula sed consequat.</p>
            <p>Vestibulum consectetur scelerisque lacus, ac fermentum lorem convallis sed. Nam odio tortor, dictum quis malesuada at, pellentesque vitae orci. Vivamus elementum, felis eu auctor lobortis, diam velit egestas lacus, quis fermentum metus ante quis urna. Sed at facilisis libero. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vestibulum bibendum blandit dolor. Nunc orci dolor, molestie nec nibh in, hendrerit tincidunt ante. Vivamus sem augue, hendrerit non sapien in, mollis ornare augue.</p>
            <hr>
            <h2 id="section-3">实用技能训练</h2>
            <p>Integer pulvinar leo id risus pellentesque vestibulum. Sed diam libero, sodales eget sapien vel, porttitor bibendum enim. Donec sed nibh vitae lorem porttitor blandit in nec ante. Pellentesque vitae metus ipsum. Phasellus sed nunc ac sem malesuada condimentum. Etiam in aliquam lectus. Nam vel sapien diam. Donec pharetra id arcu eget blandit. Proin imperdiet mattis augue in porttitor. Quisque tempus enim id lobortis feugiat. Suspendisse tincidunt risus quis dolor fringilla blandit. Ut sed sapien at purus lacinia porttitor. Nullam iaculis, felis a pretium ornare, dolor nisl semper tortor, vel sagittis lacus est consequat eros. Sed id pretium nisl. Curabitur dolor nisl, laoreet vitae aliquam id, tincidunt sit amet mauris.</p>
            <p>Phasellus vitae suscipit justo. Mauris pharetra feugiat ante id lacinia. Etiam faucibus mauris id tempor egestas. Duis luctus turpis at accumsan tincidunt. Phasellus risus risus, volutpat vel tellus ac, tincidunt fringilla massa. Etiam hendrerit dolor eget ante rutrum adipiscing. Cras interdum ipsum mattis, tempus mauris vel, semper ipsum. Duis sed dolor ut enim lobortis pellentesque ultricies ac ligula. Pellentesque convallis elit nisi, id vulputate ipsum ullamcorper ut. Cras ac pulvinar purus, ac viverra est. Suspendisse potenti. Integer pellentesque neque et elementum tempus. Curabitur bibendum in ligula ut rhoncus.</p>
            <p>Quisque pharetra velit id velit iaculis pretium. Nullam a justo sed ligula porta semper eu quis enim. Pellentesque pellentesque, metus at facilisis hendrerit, lectus velit facilisis leo, quis volutpat turpis arcu quis enim. Nulla viverra lorem elementum interdum ultricies. Suspendisse accumsan quam nec ante mollis tempus. Morbi vel accumsan diam, eget convallis tellus. Suspendisse potenti.</p>
            <hr>

        </div>
    </div>
</div>
