@model AssistTrainSystem.Models.PersonalPay

@{
    ViewData["Title"] = "Create";
}

<link rel="stylesheet" type="text/css" href="~/css/suns.css">
<link rel="stylesheet" type="text/css" href="~/css/normalize.css" />
<link rel="stylesheet" type="text/css" href="~/css/zzsc.css">
<link rel="stylesheet" type="text/css" href="~/css/fency-checkbox.css">

<h2>Create</h2>

<h4>请勾选你今天已经测试的项目</h4>
<hr />
<script type="text/javascript">
    var dangan1 = 0;
    var dangan2 = 0;
    var shuanggan1 = 0;
    var shuanggan2 = 0;
    var fuwocheng = 0;
    var lititiqianqu = 0;
    var yangwoqizuo = 0;
    var tpao = 0;
    var gun100 = 0;
    var run400 = 0;
    var run3000 = 0;
    var run400s = 0;
    var run5 = 0;
    var g100 = 0;
    var grun3000 = 0;
    var run200 = 0;
    var run300 = 0;
</script>
<div class="row">
    <div class="col-md-6">
        <div class="checkboxWrapper theme1">
            <input type="checkbox" id="sample1">
            <label for="sample1" onclick="fun()">
                <i>
                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                         width="50px" height="50px" viewBox="0 0 50 50" enable-background="new 0 0 50 50" xml:space="preserve">
                    <circle fill="none" stroke="#B7B7B7" stroke-width="3" stroke-miterlimit="10" cx="25.11" cy="24.883" r="23.519" />

                    <path fill="none" stroke-width="3" stroke-miterlimit="10" d="M48.659,25c0,12.998-10.537,23.534-23.534,23.534
					S1.591,37.998,1.591,25S12.127,1.466,25.125,1.466c9.291,0,17.325,5.384,21.151,13.203L19,36l-9-14" />
				</svg>
                </i>
                <font size="4">单杠一</font>
            </label>

            <script type="text/javascript">
                function fun() {
                    if (dangan1 == 0)
                        dangan1 = 42;
                    else
                        dangan1 = 0;

                    

                }
            </script>

        </div>
        <!-- -->
        <!-- -->
        <div class="checkboxWrapper theme2">
            <input type="checkbox" id="sample2">
            <label for="sample2" onclick="fun2()">
                <i>
                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                         width="50px" height="50px" viewBox="0 0 50 50" enable-background="new 0 0 50 50" xml:space="preserve">
                    <circle fill="none" stroke="#B7B7B7" stroke-width="3" stroke-miterlimit="10" cx="25.11" cy="24.883" r="23.519" />
                <path fill="none" stroke-width="3" stroke-miterlimit="10" d="M48.659,25c0,12.998-10.537,23.534-23.534,23.534
					S1.591,37.998,1.591,25S12.127,1.466,25.125,1.466c9.291,0,17.325,5.384,21.151,13.203L19,36l-9-14" />

				</svg>
                </i>
                <font size="4">单杠二</font>
            </label>
            <script type="text/javascript">
                function fun2() {

                    if (dangan2 == 0)
                        dangan2 = 43;
                    else
                        dangan2 = 0;

                }
            </script>


        </div>
        <!-- -->
        <!-- -->
        <div class="checkboxWrapper theme3">
            <input type="checkbox" id="sample3">
            <label for="sample3" onclick="fun3()">
                <i>
                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                         width="50px" height="50px" viewBox="0 0 50 50" enable-background="new 0 0 50 50" xml:space="preserve">
                    <circle fill="none" stroke="#B7B7B7" stroke-width="3" stroke-miterlimit="10" cx="25.11" cy="24.883" r="23.519" />

                    <path fill="none" stroke-width="3" stroke-miterlimit="10" d="M48.659,25c0,12.998-10.537,23.534-23.534,23.534
					S1.591,37.998,1.591,25S12.127,1.466,25.125,1.466c9.291,0,17.325,5.384,21.151,13.203L19,36l-9-14" />
				</svg>
                </i>
                <font size="4">双杠一</font>
                <script type="text/javascript">
                    function fun3() {

                        if (shuanggan1 == 0)
                            shuanggan1 = 38;
                        else
                            shuanggan1 = 0;


                    }
                </script>

            </label>
        </div>
        <!-- -->
        <!-- -->
        <div class="checkboxWrapper theme4">
            <input type="checkbox" id="sample4">
            <label for="sample4" onclick="fun4()">
                <i>
                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                         width="50px" height="50px" viewBox="0 0 50 50" enable-background="new 0 0 50 50" xml:space="preserve">
                    <circle fill="none" stroke="#B7B7B7" stroke-width="3" stroke-miterlimit="10" cx="25.11" cy="24.883" r="23.519" />

                    <path fill="none" stroke-width="3" stroke-miterlimit="10" d="M48.659,25c0,12.998-10.537,23.534-23.534,23.534
				S1.591,37.998,1.591,25S12.127,1.466,25.125,1.466c9.291,0,17.325,5.384,21.151,13.203L19,36l-9-14" />

			</svg>
                </i>
                <font size="4">双杠二</font>
                <script type="text/javascript">
                    function fun4() {

                        if (shuanggan2  == 0)
                            shuanggan2  = 49;
                        else
                            shuanggan2  = 0;

                    }
                </script>

            </label>
        </div>
        <!-- -->
        <!-- -->
        <div class="checkboxWrapper theme5">
            <input type="checkbox" id="sample5">
            <label for="sample5" onclick="fun5()">
                <i>
                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                         width="50px" height="50px" viewBox="0 0 50 50" enable-background="new 0 0 50 50" xml:space="preserve">
                    <circle fill="none" stroke="#B7B7B7" stroke-width="3" stroke-miterlimit="10" cx="25.11" cy="24.883" r="23.519" />

                    <path fill="none" stroke-width="3" stroke-miterlimit="10" d="M48.659,25c0,12.998-10.537,23.534-23.534,23.534
					S1.591,37.998,1.591,25S12.127,1.466,25.125,1.466c9.291,0,17.325,5.384,21.151,13.203L19,36l-9-14" />

				</svg>
                </i>
                <font size="4">俯卧撑</font>
                <script type="text/javascript">
                    function fun5() {
                        if (fuwocheng  == 0)
                            fuwocheng  = 60;
                        else
                            fuwocheng  = 0;

                    }
                </script>

            </label>
        </div>
        <!-- -->
        <!-- -->
        <div class="checkboxWrapper theme6">
            <input type="checkbox" id="sample6">
            <label for="sample6" onclick="fun6()">
                <i>
                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                         width="50px" height="50px" viewBox="0 0 50 50" enable-background="new 0 0 50 50" xml:space="preserve">
                    <circle fill="none" stroke="#B7B7B7" stroke-width="3" stroke-miterlimit="10" cx="25.11" cy="24.883" r="23.519" />


                    <path fill="none" stroke-width="3" stroke-miterlimit="10" d="M48.659,25c0,12.998-10.537,23.534-23.534,23.534
				S1.591,37.998,1.591,25S12.127,1.466,25.125,1.466c9.291,0,17.325,5.384,21.151,13.203L19,36l-9-14" />

			</svg>
                </i>
                <font size="4">仰卧起坐</font>
                <script type="text/javascript">
                    function fun6() {

                        if (yangwoqizuo  == 0)
                            yangwoqizuo  = 6;
                        else
                            yangwoqizuo  = 0;

                    }
                </script>

            </label>
        </div>
        <!-- -->
        <!-- -->
        <div class="checkboxWrapper theme7">
            <input type="checkbox" id="sample7">
            <label for="sample7" onclick="fun7()">
                <i>
                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                         width="50px" height="50px" viewBox="0 0 50 50" enable-background="new 0 0 50 50" xml:space="preserve">
                    <circle fill="none" stroke="#B7B7B7" stroke-width="3" stroke-miterlimit="10" cx="25.11" cy="24.883" r="23.519" />

                    <path fill="none" stroke-width="3" stroke-miterlimit="10" d="M48.659,25c0,12.998-10.537,23.534-23.534,23.534
					S1.591,37.998,1.591,25S12.127,1.466,25.125,1.466c9.291,0,17.325,5.384,21.151,13.203L19,36l-9-14" />

				</svg>
                </i>
                <font size="4">T型跑</font>
                <script type="text/javascript">
                    function fun7() {

                        if (tpao  == 0)
                            tpao  = 90;
                        else
                            tpao  = 0;

                    }
                </script>

            </label>
        </div>

        <div class="checkboxWrapper theme1">
            <input type="checkbox" id="sample8">
            <label for="sample8" onclick="fun8()">
                <i>
                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                         width="50px" height="50px" viewBox="0 0 50 50" enable-background="new 0 0 50 50" xml:space="preserve">
                    <circle fill="none" stroke="#B7B7B7" stroke-width="3" stroke-miterlimit="10" cx="25.11" cy="24.883" r="23.519" />

                    <path fill="none" stroke-width="3" stroke-miterlimit="10" d="M48.659,25c0,12.998-10.537,23.534-23.534,23.534
					S1.591,37.998,1.591,25S12.127,1.466,25.125,1.466c9.291,0,17.325,5.384,21.151,13.203L19,36l-9-14" />

				</svg>
                </i>
                <font size="4">100米持枪绕杆屈伸返回跑</font>
            </label>

            <script type="text/javascript">
                function fun8() {

                    if (gun100 == 0)
                        gun100 = 95;
                    else
                        gun100 = 0;



                }
            </script>

        </div>


        <div class="checkboxWrapper theme2">
            <input type="checkbox" id="sample9">
            <label for="sample9" onclick="fun9()">
                <i>
                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                         width="50px" height="50px" viewBox="0 0 50 50" enable-background="new 0 0 50 50" xml:space="preserve">
                    <circle fill="none" stroke="#B7B7B7" stroke-width="3" stroke-miterlimit="10" cx="25.11" cy="24.883" r="23.519" />


                    <path fill="none" stroke-width="3" stroke-miterlimit="10" d="M48.659,25c0,12.998-10.537,23.534-23.534,23.534
					S1.591,37.998,1.591,25S12.127,1.466,25.125,1.466c9.291,0,17.325,5.384,21.151,13.203L19,36l-9-14" />


				</svg>
                </i>
                <font size="4">400米</font>
            </label>

            <script type="text/javascript">
                function fun9() {

                    if (run400  == 0)
                        run400  = 240;
                    else
                        run400  = 0;



                }
            </script>

        </div>


        <div class="checkboxWrapper theme2">
            <input type="checkbox" id="sample10">
            <label for="sample10" onclick="fun10()">
                <i>
                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                         width="50px" height="50px" viewBox="0 0 50 50" enable-background="new 0 0 50 50" xml:space="preserve">
                    <circle fill="none" stroke="#B7B7B7" stroke-width="3" stroke-miterlimit="10" cx="25.11" cy="24.883" r="23.519" />


                    <path fill="none" stroke-width="3" stroke-miterlimit="10" d="M48.659,25c0,12.998-10.537,23.534-23.534,23.534
					S1.591,37.998,1.591,25S12.127,1.466,25.125,1.466c9.291,0,17.325,5.384,21.151,13.203L19,36l-9-14" />

				</svg>
                </i>
                <font size="4">3000米</font>
            </label>

            <script type="text/javascript">
                function fun10() {

                    if (run3000  == 0)
                        run3000 = 480;
                    else
                        run3000 = 0;



                }
            </script>

        </div>


        <div class="checkboxWrapper theme3">
            <input type="checkbox" id="sample11">
            <label for="sample11" onclick="fun11()">
                <i>
                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                         width="50px" height="50px" viewBox="0 0 50 50" enable-background="new 0 0 50 50" xml:space="preserve">
                    <circle fill="none" stroke="#B7B7B7" stroke-width="3" stroke-miterlimit="10" cx="25.11" cy="24.883" r="23.519" />

                    <path fill="none" stroke-width="3" stroke-miterlimit="10" d="M48.659,25c0,12.998-10.537,23.534-23.534,23.534
					S1.591,37.998,1.591,25S12.127,1.466,25.125,1.466c9.291,0,17.325,5.384,21.151,13.203L19,36l-9-14" />


				</svg>
                </i>
                <font size="4">400米障碍</font>
            </label>

            <script type="text/javascript">
                function fun11() {

                    if (run400s  == 0)
                        run400s  = 405;
                    else
                        run400s  = 0;



                }
            </script>

        </div>


        <div class="checkboxWrapper theme4">
            <input type="checkbox" id="sample12">
            <label for="sample12" onclick="fun12()">
                <i>
                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                         width="50px" height="50px" viewBox="0 0 50 50" enable-background="new 0 0 50 50" xml:space="preserve">
                    <circle fill="none" stroke="#B7B7B7" stroke-width="3" stroke-miterlimit="10" cx="25.11" cy="24.883" r="23.519" />

                    <path fill="none" stroke-width="3" stroke-miterlimit="10" d="M48.659,25c0,12.998-10.537,23.534-23.534,23.534
					S1.591,37.998,1.591,25S12.127,1.466,25.125,1.466c9.291,0,17.325,5.384,21.151,13.203L19,36l-9-14" />


				</svg>
                </i>
                <font size="4">五公里武装越野</font>
            </label>

            <script type="text/javascript">
                function fun12() {

                    if (run5  == 0)
                        run5  = 600;
                    else
                        run5  = 0;



                }
            </script>

        </div>


        <div class="checkboxWrapper theme5">
            <input type="checkbox" id="sample13">
            <label for="sample13" onclick="fun13()">
                <i>
                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                         width="50px" height="50px" viewBox="0 0 50 50" enable-background="new 0 0 50 50" xml:space="preserve">
                    <circle fill="none" stroke="#B7B7B7" stroke-width="3" stroke-miterlimit="10" cx="25.11" cy="24.883" r="23.519" />


                    <path fill="none" stroke-width="3" stroke-miterlimit="10" d="M48.659,25c0,12.998-10.537,23.534-23.534,23.534
					S1.591,37.998,1.591,25S12.127,1.466,25.125,1.466c9.291,0,17.325,5.384,21.151,13.203L19,36l-9-14" />

				</svg>
                </i>
                <font size="4">持枪100米障碍</font>
            </label>

            <script type="text/javascript">
                function fun13() {

                    if (g100  == 0)
                        g100  = 100;
                    else
                        g100  = 0;



                }
            </script>

        </div>


        <div class="checkboxWrapper theme6">
            <input type="checkbox" id="sample14">
            <label for="sample14" onclick="fun14()">
                <i>
                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                         width="50px" height="50px" viewBox="0 0 50 50" enable-background="new 0 0 50 50" xml:space="preserve">
                    <circle fill="none" stroke="#B7B7B7" stroke-width="3" stroke-miterlimit="10" cx="25.11" cy="24.883" r="23.519" />

                    <path fill="none" stroke-width="3" stroke-miterlimit="10" d="M48.659,25c0,12.998-10.537,23.534-23.534,23.534
					S1.591,37.998,1.591,25S12.127,1.466,25.125,1.466c9.291,0,17.325,5.384,21.151,13.203L19,36l-9-14" />


				</svg>
                </i>
                <font size="4">三公里武装越野</font>
            </label>

            <script type="text/javascript">
                function fun14() {

                    if (grun3000  == 0)
                        grun3000  = 520;
                    else
                        grun3000  = 0;



                }
            </script>

        </div>


        <div class="checkboxWrapper theme7">
            <input type="checkbox" id="sample15">
            <label for="sample15" onclick="fun15()">
                <i>
                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                         width="50px" height="50px" viewBox="0 0 50 50" enable-background="new 0 0 50 50" xml:space="preserve">
                    <circle fill="none" stroke="#B7B7B7" stroke-width="3" stroke-miterlimit="10" cx="25.11" cy="24.883" r="23.519" />
                    <path fill="none" stroke-width="3" stroke-miterlimit="10" d="M48.659,25c0,12.998-10.537,23.534-23.534,23.534
					S1.591,37.998,1.591,25S12.127,1.466,25.125,1.466c9.291,0,17.325,5.384,21.151,13.203L19,36l-9-14" />

				</svg>
                </i>
                <font size="4">200米障碍</font>
            </label>

            <script type="text/javascript">
                function fun15() {

                    if (run200  == 0)
                        run200  = 340;
                    else
                        run200  = 0;



                }
            </script>

        </div>


        <div class="checkboxWrapper theme1">
            <input type="checkbox" id="sample16">
            <label for="sample16" onclick="fun16()">
                <i>
                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                         width="50px" height="50px" viewBox="0 0 50 50" enable-background="new 0 0 50 50" xml:space="preserve">
                    <circle fill="none" stroke="#B7B7B7" stroke-width="3" stroke-miterlimit="10" cx="25.11" cy="24.883" r="23.519" />

                    <path fill="none" stroke-width="3" stroke-miterlimit="10" d="M48.659,25c0,12.998-10.537,23.534-23.534,23.534
					S1.591,37.998,1.591,25S12.127,1.466,25.125,1.466c9.291,0,17.325,5.384,21.151,13.203L19,36l-9-14" />

				</svg>
                </i>
                <font size="4">300米障碍</font>
            </label>

            <script type="text/javascript">
                function fun16() {

                    if (run300  == 0)
                        run300  = 400;
                    else
                        run300  = 0;



                }
            </script>

        </div>

        <hr>
        <a onclick="funx()"><font size="4">确认提交</font></a>

        <script type="text/javascript">

          
           
            function funx() {

                var all = dangan1 + dangan2 + shuanggan1 + shuanggan2 + fuwocheng + yangwoqizuo + tpao + gun100 + run400 + run3000 + run400s + run5 + g100 + grun3000 + run200 + run300 + 1700;
               
                $.post("/PersonalPays/outcome", { "outcome": all }, function (data) { 
                   
                    $("#xxx").html("您今天共支出了" + all + "卡路里！");
                });

            }
        </script>

    </div>

    <div class="col-md-6">

        <div class="panel panel-success" >

            <div class="panel-heading">
                <h3 class="panel-title">今日摄入</h3>
            </div>
            <div class="panel-body">
                <div>您今天共摄入：@Model.all_income 卡路里！</div>
                <br />
                <br />
                <br />
                <br />
            </div>
        </div>
        <div class="panel panel-success" >

            <div class="panel-heading">
                <h3 class="panel-title">今日支出</h3>
            </div>
            <div class="panel-body">
                <div id="xxx">您今天共支出了：</div>
                <br />
                <br />
                <br />
                <br />
            </div>
        </div>
        </div>


</div>


