@model AssistTrainSystem.Models.NormalTrain

@{
    ViewData["Title"] = "Create";
}

<link rel="stylesheet" type="text/css" href="~/css/normalize.css" />
<link rel="stylesheet" type="text/css" href="~/css/zzsc.css">
<link rel="stylesheet" type="text/css" href="~/css/fency-checkbox.css">

<h2>Train</h2>

<h4>请勾选你今天需要训练的项目</h4>
<hr />
<script type="text/javascript">
    var back_train = 0;
    var chesk_train = 0;
    var leg_train = 0;
    var shoulder_train = 0;
    var arm_train = 0;
    var abdomen_train = 0;
    var stamina_train = 0;
    var explosive_train = 0;
    </script >
<div class="row">
    <div class="col-md-6">
        <div class="checkboxWrapper theme1" >
            <input type="checkbox" id="sample1">
            <label for="sample1"  onclick="fun()">
                <i>
                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                         width="50px" height="50px" viewBox="0 0 50 50" enable-background="new 0 0 50 50" xml:space="preserve">
                    <circle fill="none" stroke="#B7B7B7" stroke-width="3" stroke-miterlimit="10" cx="25.11" cy="24.883" r="23.519" />

                    <path fill="none" stroke-width="3" stroke-miterlimit="10" d="M48.659,25c0,12.998-10.537,23.534-23.534,23.534
					S1.591,37.998,1.591,25S12.127,1.466,25.125,1.466c9.291,0,17.325,5.384,21.151,13.203L19,36l-9-14" />

				</svg>
                </i>
                <font size="4">背部训练</font>
            </label>

            <script type="text/javascript">
                function fun()
                {
                  
                    if (back_train == 0)
                        back_train = 1;
                    else
                        back_train = 0;

                  

                }
                </script>
            
        </div>
        <!-- -->
        <!-- -->
   

        <div class="checkboxWrapper theme2">
            <input type="checkbox" id="sample2">
            <label for="sample2" onclick="fun2()">
                <i>
                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                         width="50px" height="50px" viewBox="0 0 50 50" enable-background="new 0 0 50 50" xml:space="preserve">
                    <circle fill="none" stroke="#B7B7B7" stroke-width="3" stroke-miterlimit="10" cx="25.11" cy="24.883" r="23.519" />

                    <path fill="none" stroke-width="3" stroke-miterlimit="10" d="M48.659,25c0,12.998-10.537,23.534-23.534,23.534
					S1.591,37.998,1.591,25S12.127,1.466,25.125,1.466c9.291,0,17.325,5.384,21.151,13.203L19,36l-9-14" />

				</svg>
                </i>
                <font size="4">胸部训练</font>
</label>
            <script type="text/javascript">
                   function fun2() {

                       if (chesk_train == 0)
                           chesk_train = 1;
                       else
                           chesk_train = 0;

                   }
            </script>


        </div>
        <!-- -->
        <!-- -->
        <div class="checkboxWrapper theme3">
            <input type="checkbox" id="sample3">
            <label for="sample3" onclick="fun3()">
                <i>
                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                         width="50px" height="50px" viewBox="0 0 50 50" enable-background="new 0 0 50 50" xml:space="preserve">
                    <circle fill="none" stroke="#B7B7B7" stroke-width="3" stroke-miterlimit="10" cx="25.11" cy="24.883" r="23.519" />

                    <path fill="none" stroke-width="3" stroke-miterlimit="10" d="M48.659,25c0,12.998-10.537,23.534-23.534,23.534
					S1.591,37.998,1.591,25S12.127,1.466,25.125,1.466c9.291,0,17.325,5.384,21.151,13.203L19,36l-9-14" />

				</svg>
                </i>
                <font size="4">腿部训练</font>
                <script type="text/javascript">
                       function fun3() {

                           if (leg_train == 0)
                               leg_train = 1;
                           else
                               leg_train = 0;
                        

                       }
                </script>

</label>
        </div>
        <!-- -->
        <!-- -->
        <div class="checkboxWrapper theme4">
            <input type="checkbox" id="sample4">
            <label for="sample4" onclick="fun4()">
                <i>
                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                         width="50px" height="50px" viewBox="0 0 50 50" enable-background="new 0 0 50 50" xml:space="preserve">
                    <circle fill="none" stroke="#B7B7B7" stroke-width="3" stroke-miterlimit="10" cx="25.11" cy="24.883" r="23.519" />

                    <path fill="none" stroke-width="3" stroke-miterlimit="10" d="M48.659,25c0,12.998-10.537,23.534-23.534,23.534
				S1.591,37.998,1.591,25S12.127,1.466,25.125,1.466c9.291,0,17.325,5.384,21.151,13.203L19,36l-9-14" />

			</svg>
                </i>
                <font size="4">肩部训练</font>
                <script type="text/javascript">
                       function fun4() {

                           if (shoulder_train == 0)
                           {
                               shoulder_train = 1; 
                           }
                           else
                               shoulder_train = 0;

                       }
                </script>

</label>
        </div>
        <!-- -->
        <!-- -->
        <div class="checkboxWrapper theme5">
            <input type="checkbox" id="sample5">
            <label for="sample5" onclick="fun5()">
                <i>
                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                         width="50px" height="50px" viewBox="0 0 50 50" enable-background="new 0 0 50 50" xml:space="preserve">
                    <circle fill="none" stroke="#B7B7B7" stroke-width="3" stroke-miterlimit="10" cx="25.11" cy="24.883" r="23.519" />

                    <path fill="none" stroke-width="3" stroke-miterlimit="10" d="M48.659,25c0,12.998-10.537,23.534-23.534,23.534
					S1.591,37.998,1.591,25S12.127,1.466,25.125,1.466c9.291,0,17.325,5.384,21.151,13.203L19,36l-9-14" />

				</svg>
                </i>
                <font size="4">臂部训练</font>
                <script type="text/javascript">
                       function fun5() {
                           if (arm_train == 0)
                               arm_train = 1;
                           else
                               arm_train = 0;

                       }
                </script>

</label>
        </div>
        <!-- -->
        <!-- -->
        <div class="checkboxWrapper theme6">
            <input type="checkbox" id="sample6">
            <label for="sample6" onclick="fun6()">
                <i>
                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                         width="50px" height="50px" viewBox="0 0 50 50" enable-background="new 0 0 50 50" xml:space="preserve">
                    <circle fill="none" stroke="#B7B7B7" stroke-width="3" stroke-miterlimit="10" cx="25.11" cy="24.883" r="23.519" />

                    <path fill="none" stroke-width="3" stroke-miterlimit="10" d="M48.659,25c0,12.998-10.537,23.534-23.534,23.534
				S1.591,37.998,1.591,25S12.127,1.466,25.125,1.466c9.291,0,17.325,5.384,21.151,13.203L19,36l-9-14" />

			</svg>
                </i>
                <font size="4">腹部训练</font>
                <script type="text/javascript">
                       function fun6() {

                           if (abdomen_train == 0)
                               abdomen_train = 1;
                           else
                               abdomen_train = 0;

                       }
                </script>

</label>
        </div>
        <!-- -->
        <!-- -->
        <div class="checkboxWrapper theme7">
            <input type="checkbox" id="sample7">
            <label for="sample7" onclick="fun7()">
                <i>
                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                         width="50px" height="50px" viewBox="0 0 50 50" enable-background="new 0 0 50 50" xml:space="preserve">
                    <circle fill="none" stroke="#B7B7B7" stroke-width="3" stroke-miterlimit="10" cx="25.11" cy="24.883" r="23.519" />

                    <path fill="none" stroke-width="3" stroke-miterlimit="10" d="M48.659,25c0,12.998-10.537,23.534-23.534,23.534
					S1.591,37.998,1.591,25S12.127,1.466,25.125,1.466c9.291,0,17.325,5.384,21.151,13.203L19,36l-9-14" />

				</svg>
                </i>
                <font size="4">爆发力</font>
                <script type="text/javascript">
                       function fun7() {

                           if (explosive_train == 0)
                               explosive_train = 1;
                           else
                               explosive_train = 0;

                       }
                </script>

</label>
        </div>

        <div class="checkboxWrapper theme1">
            <input type="checkbox" id="sample8">
            <label for="sample8" onclick="fun8()">
                <i>
                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                         width="50px" height="50px" viewBox="0 0 50 50" enable-background="new 0 0 50 50" xml:space="preserve">
                    <circle fill="none" stroke="#B7B7B7" stroke-width="3" stroke-miterlimit="10" cx="25.11" cy="24.883" r="23.519" />



                    <path fill="none" stroke-width="3" stroke-miterlimit="10" d="M48.659,25c0,12.998-10.537,23.534-23.534,23.534
					S1.591,37.998,1.591,25S12.127,1.466,25.125,1.466c9.291,0,17.325,5.384,21.151,13.203L19,36l-9-14" />



				</svg>
                </i>
                <font size="4">耐力</font>
            </label>

            <script type="text/javascript">
                function fun8() {

                    if (stamina_train == 0)
                        stamina_train = 1;
                    else
                        stamina_train = 0;



                }
            </script>

        </div>
        <br/>
   
        <hr>
        <a onclick="fun9()"><font size="4">确认提交</font></a>

        <script type="text/javascript">
            function fun9()
            {
             
              
                $.post("/NormalTrains/check", {
                    "user_id": "@User.Identity.Name",
                    "back_train": back_train, "chesk_train": chesk_train, "leg_train": leg_train
                    , "shoulder_train": shoulder_train, "arm_train": arm_train, "abdomen_train": abdomen_train,
                    "stamina_train": stamina_train, "explosive_train": explosive_train
                }, function (data) {

                    $("#back").css('display', 'block')
                    $("#chesk").css('display', 'block')
                    $("#leg").css('display', 'block')
                    $("#shoulder").css('display', 'block')
                    $("#arm").css('display', 'block')
                    $("#abdomen").css('display', 'block')
                    $("#explosive").css('display', 'block')
                    $("#stamina").css('display', 'block')

                    var back, chesk, leg, shoulder, arm, abdomen, explosive, stamina;
                 
                    if (data.back_train < 5) {
                        $("#back").attr('class', 'alert alert-success'); back = "低量";
                    }
                    else if (data.back_train >= 5 && data.back_train < 10) {
                        $("#back").attr('class', 'alert alert-info'); back = "适量";
                    }
                    else if (data.back_train >= 10 && data.back_train < 20) {
                        $("#back").attr('class', 'alert alert-warning'); back = "过量";
                    }
                    else {
                        $("#back").attr('class', 'alert alert-danger'); back = "严重过量";
                    }

                    if (data.chesk_train < 5) {
                        $("#chesk").attr('class', 'alert alert-success'); chesk = "低量";
                    }
                    else if (data.chesk_train >= 5 && data.chesk_train < 10) {
                        $("#chesk").attr('class', 'alert alert-info'); chesk = "正常";
                    }
                    else if (data.chesk_train >= 10 && data.chesk_train < 20) {
                        $("#chesk").attr('class', 'alert alert-warning'); chesk = "过量";
                    }
                    else {
                        $("#chesk").attr('class', 'alert alert-danger'); chesk = "严重过量";
                    }

                    if (data.leg_train < 5) {
                        $("#leg").attr('class', 'alert alert-success'); leg = "低量";
                    }
                    else if (data.leg_train >= 5 && data.leg_train < 10) {
                        $("#leg").attr('class', 'alert alert-info'); leg = "适量";
                    }
                    else if (data.leg_train >= 10 && data.leg_train < 20) {
                        $("#leg").attr('class', 'alert alert-warning'); leg = "过量";
                    }
                    else {
                        $("#leg").attr('class', 'alert alert-danger'); leg = "严重过量";
                    }

                    if (data.shoulder_train < 5) {
                        $("#shoulder").attr('class', 'alert alert-success'); shoulder = "低量";
                    }
                    else if (data.shoulder_train >= 5 && data.shoulder_train < 10) {
                        $("#shoulder").attr('class', 'alert alert-info'); shoulder = "适量";
                    }
                    else if (data.shoulder_train >= 10 && data.shoulder_train < 20) {
                        $("#shoulder").attr('class', 'alert alert-warning'); shoulder = "过量";
                    }
                    else {
                        $("#shoulder").attr('class', 'alert alert-danger'); shoulder = "严重过量";
                    }

                    if (data.arm_train < 5) {
                        $("#arm").attr('class', 'alert alert-success'); arm = "低量";
                    }
                    else if (data.arm_train >= 5 && data.arm_train < 10) {
                        $("#arm").attr('class', 'alert alert-info'); arm = "适量";
                    }
                    else if (data.arm_train >= 10 && data.arm_train < 20) {
                        $("#arm").attr('class', 'alert alert-warning'); arm = "过量";
                    }
                    else {
                        $("#arm").attr('class', 'alert alert-danger'); arm = "严重过量";
                    }

                    if (data.abdomen_train < 5) {
                        $("#abdomen").attr('class', 'alert alert-success'); abdomen = "低量";
                    }
                    else if (data.abdomen_train >= 5 && data.abdomen_train < 10) {
                        $("#abdomen").attr('class', 'alert alert-info'); abdomen = "适量";
                    }
                    else if (data.abdomen_train >= 10 && data.abdomen_train < 20) {
                        $("#abdomen").attr('class', 'alert alert-warning'); abdomen = "过量";
                    }
                    else {
                        $("#abdomen").attr('class', 'alert alert-danger'); abdomen = "严重过量";
                    }

                    if (data.explosive_train < 5) {
                        $("#explosive").attr('class', 'alert alert-success'); explosive = "低量";
                    }
                    else if (data.explosive_train >= 5 && data.explosive_train < 10) {
                        $("#explosive").attr('class', 'alert alert-info'); explosive = "适量";
                    }
                    else if (data.explosive_train >= 10 && data.explosive_train < 20) {
                        $("#explosive").attr('class', 'alert alert-warning'); explosive = "过量";
                    }
                    else {
                        $("#explosive").attr('class', 'alert alert-danger'); explosive = "严重过量";
                    }

                    if (data.stamina_train < 5) {
                        $("#stamina").attr('class', 'alert alert-success'); stamina = "低量";
                    }
                    else if (data.stamina_train >= 5 && data.stamina_train < 10) {
                        $("#stamina").attr('class', 'alert alert-info'); stamina = "适量";
                    }
                    else if (data.stamina_train >= 10 && data.stamina_train < 20) {
                        $("#stamina").attr('class', 'alert alert-warning'); stamina = "过量";
                    }

                    else
                    { 
                    $("#stamina").attr('class', 'alert alert-danger'); stamina = "严重过量";
                }

                    $("#back").html("你已经连续进行背部训练," + data.back_train + "次             "+back);
                    $("#chesk").html("你已经连续进行胸部训练," + data.chesk_train + "次            "+chesk);
                    $("#leg").html("你已经连续进行腿部训练," + data.leg_train + "次            "+leg);
                    $("#shoulder").html("你已经连续进行肩部训练," + data.shoulder_train + "次           "+shoulder);
                    $("#arm").html("你已经连续进行臂部训练," + data.arm_train + "次           " + arm);
                    $("#abdomen").html("你已经连续进行腹部训练," + data.abdomen_train + "次           " + abdomen);
                    $("#explosive").html("你已经连续进行爆发力训练," + data.explosive_train + "次           " + explosive);
                    $("#stamina").html("你已经连续进行耐力训练," + data.stamina_train + "次            " + stamina);



                        
                     
                });

            }
            </script>

    </div>

    <div class="col-md-6" id="xx" style="display:inline">
        <div id="back" class="alert alert-success" style="display:none">
            <a href="#" class="close" data-dismiss="alert">&times;</a>
            <strong>你已经连续进行背部训练</strong>结果是成功的。
        </div>

        <div id="chesk" class="alert alert-success"  style="display:none">
            <a href="#" class="close" data-dismiss="alert">&times;</a>
            <strong>你已经连续进行胸部训练</strong>结果是成功的。
        </div>

        <div id="leg" class="alert alert-success"  style="display:none">
            <a href="#" class="close" data-dismiss="alert">&times;</a>
            <strong>你已经连续进行腿部训练</strong>结果是成功的。
        </div>

        <div id="shoulder" class="alert alert-success"  style="display:none">
            <a href="#" class="close" data-dismiss="alert">&times;</a>
            <strong>你已经连续进行肩部训练</strong>结果是成功的。
        </div>

        <div id="arm" class="alert alert-success"  style="display:none">
            <a href="#" class="close" data-dismiss="alert">&times;</a>
            <strong>你已经连续进行臂部训练</strong>结果是成功的。
        </div>

        <div id="abdomen" class="alert alert-success"  style="display:none">
            <a href="#" class="close" data-dismiss="alert">&times;</a>
            <strong>你已经连续进行腹部训练</strong>结果是成功的。
        </div>

        <div id="explosive" class="alert alert-success" style="display:none">
            <a href="#" class="close" data-dismiss="alert">&times;</a>
            <strong>你已经连续进行爆发力训练</strong>结果是成功的。
        </div>

        <div id="stamina" class="alert alert-success"  style="display:none">
            <a href="#" class="close" data-dismiss="alert">&times;</a>
            <strong>你已经连续进行耐力训练</strong>结果是成功的。
        </div>
    </div>
</div>



