@{
    ViewData["Title"] = "Contact";
}
<h2>日常训练</h2>
<hr>

<div class="row">
    <div class="col-md-3">
        <a asp-area="" asp-controller="NormalTrains" asp-action="Create">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">每日训练</h3>
                </div>
                <div class="panel-body">
                    这里记录您的每日训练
                    <br />
                    <br />
                    <br />
                    <br />
                </div>
            </div>
        </a>
    </div>
    <div class="col-md-3">

        <a asp-area="" asp-controller="Home" asp-action="test5">
            <div class="panel panel-success">

                <div class="panel-heading">
                    <h3 class="panel-title">面板标题</h3>
                </div>
                <div class="panel-body">
                    这里记录您的饮食和睡眠
                    <br />
                    <br />
                    <br />
                    <br />
                </div>
            </div>
        </a>
    </div>

    <div class="col-md-3">

        <a asp-area="" asp-controller="PersonalPays" asp-action="Create">
            <div class="panel panel-success">

                <div class="panel-heading">
                    <h3 class="panel-title">面板标题</h3>
                </div>
                <div class="panel-body">
                    这里记录您的每日支出
                    <br />
                    <br />
                    <br />
                    <br />
                </div>
            </div>
        </a>
    </div>
</div>
