@{
    ViewData["Title"] = "Contact";
}
<h2>日常训练</h2>
<hr>

<div class="row">
    
    <div class="col-md-3">

        <a asp-area="" asp-controller="Home" asp-action="test9">
            <div class="panel panel-success">

                <div class="panel-heading">
                    <h3 class="panel-title">基础体能训练成绩分析和预测</h3>
                </div>
                <div class="panel-body">
                    基础体能训练成绩分析和预测
                    <br />
                    <br />
                    <br />
                    <br />
                </div>
            </div>
        </a>
    </div>

    <div class="col-md-3">

        <a asp-area="" asp-controller="Home" asp-action="test10">
            <div class="panel panel-success">

                <div class="panel-heading">
                    <h3 class="panel-title">使用技能训练成绩分析与预测</h3>
                </div>
                <div class="panel-body">
                    使用技能训练成绩分析与预测
                    <br />
                    <br />
                    <br />
                    <br />
                </div>
            </div>
        </a>
    </div>
</div>
