@{
    ViewData["Title"] = "Contact";
}
<h2>日常训练</h2>
<hr>

<div class="row">
    <div class="col-md-3">
        <a asp-area="" asp-controller="home" asp-action="test4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">早餐打卡</h3>
                </div>
                <div class="panel-body">
                    您今天早餐共摄入了：
                    <br />
                    <br />
                    <br />
                    <br />
                </div>
            </div>
        </a>
    </div>
    <div class="col-md-3">

        <a asp-area="" asp-controller="Home" asp-action="test4">
            <div class="panel panel-success">

                <div class="panel-heading">
                    <h3 class="panel-title">午餐打卡</h3>
                </div>
                <div class="panel-body">
                    您今天午餐共摄入了：
                    <br />
                    <br />
                    <br />
                    <br />
                </div>
            </div>
        </a>
    </div>

    <div class="col-md-3">

        <a asp-area="" asp-controller="Home" asp-action="test4">
            <div class="panel panel-success">

                <div class="panel-heading">
                    <h3 class="panel-title">晚餐打卡</h3>
                </div>
                <div class="panel-body">
                    您今天晚餐共摄入了：
                    <br />
                    <br />
                    <br />
                    <br />
                </div>
            </div>
        </a>
    </div>
</div>
