@model AssistTrainSystem.Models.PersonalPay
@{
    ViewData["Title"] = "Contact";
}
<h3>日常训练</h3>
<hr>
<link rel="stylesheet" type="text/css" href="~/css/suns.css">
<div class="row">
    <div class="col-md-12">
       
            <ul class="blocks">
                <a asp-area="" asp-controller="NormalTrains" asp-action="Create">
                    <li>
                        每日训练<div class="popup">
                            <span>
                                <h3>
                                    每日训练
                                </h3>
                                记录您每日的训练部位，同时达到提醒您的训练强度的效果
                            </span>
                        </div>
                    </li>
                    </a>
                <a asp-area="" asp-controller="Home" asp-action="test5">
                    <li>
                        每日摄入<div class="popup">
                            <span>
                                <h3>
                                    每日摄入
                                </h3>
                               通过早餐打卡，午餐打卡，晚餐打卡，来记录您的每日摄入卡路里。时刻提醒您的卡路里。
                            </span>
                        </div>
                    </li>
                    </a>

                <a asp-area="" asp-controller="PersonalPays" asp-action="Create">
                    <li>
                        每日支出<div class="popup">
                            <span>
                                <h3>
                                    每日支出
                                </h3>
                                 根据您每天的训练项目，计算出您今日鱿鱼训练消耗的卡路里。
                            </span>
                        </div>
                    </li>
                </a>
</ul>
         
     
        
     

       
          
    
       
   
 

     
    </div>

</div>
<hr>
<h4>系统小建议：</h4>
<hr>
@if (Model.create_time.ToString("MM-dd") == DateTime.Now.ToString("MM-dd"))
{
    @if (Model.pay == 0 && Model.all_income == 0)
    {
        <h4>请先打卡</h4>

    }
    else
    {
      @if (Model.pay > Model.all_income)
         {
        <h4>您的支出大于摄入，请及时补充能量</h4>

        }
        else
        {
        <h4>您的输入大于支出，请多锻炼身体，不要让脂肪堆积</h4>


        }
    }
 }



